<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clubhouse</title>
</head>
<body>
  <%- include('header') %>
  
  <main>
    <% memberships.forEach(membership => { 
       const slug = membership
         .toLowerCase()
         .replace(/\s+/g, '-');
  %>
    <a href="/group/<%= slug %>">
      <button class="group"><%= membership %></button>
    </a>
  <% }) %>
  <div>
    <h1>
      Welcome to the Clubhouse!
    </h1>
    <p>
      An exclusive place for you to join groups and share your thoughts.
    </p>
  </div>
  </main>
</body>
</html>