<div>
  <h1>
    Welcome to the Valorant Group!
  </h1>

  <div class="comments-input">
    <input type="text" name="comments" id="comments">
    <button class="send-button">Send</button>
  </div>
</div>