*, *::before, *::after {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #222831;
  --ligh-dark-color: #393E46;
  --lightblue-color: #00ADB5;
  --light-color: #EEEEEE;
  --shadow-color: #64676d;
}

body {
  background-color: var(--ligh-dark-color);
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

header {
  background-color: var(--dark-color);
  padding-inline: 4rem;
  padding-block: 1rem;
}

nav {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}

.website-name {
  color: var(--light-color);
  flex: 2;
}

nav > ul {
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items, .logout-button {
  color: var(--light-color);
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--dark-color);
  border: none;
  padding-block: .5rem;
  padding-inline: 1rem;
  border-radius: 8px;
}

.items:hover, .logout-button:hover {
  background-color: var(--ligh-dark-color);
}
.name {
  color: var(--light-color);
  font-size: 1.2rem;
  text-align: center;
  padding-block: .5rem;
  padding-inline: 1rem;
}



main {
  padding-block: 2rem;
  padding-inline: 5rem;
}

.group-navigation-container {
  background-color: var(--lightblue-color);
  padding-block: .5rem;
  padding-inline: .5rem;
  border-radius: 9px;
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
}

.group-navigation-container > h3 {
  padding-inline: .2rem;
  padding-block: .2rem;
}

.group-navigation {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  
  background-color: var(--lightblue-color);
}

.group-button {
  font-size: 1.1rem;
  padding-block: .4rem;
  padding-inline: .8rem;
  border: none;
  border-radius: 6px;
  background-color: var(--lightblue-color);
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.group-button:hover {
  background-color: var(--lightblue-color);
  transform: scale(1.05);
}

.welcome-message-container {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}

.welcome-message-container > h1 {
  font-size: 2.5rem;
}

.welcome-message-container > a {
  color: var(--lightblue-color);
}

/* Membership page */
.groups-wrapper {
  display: flex;
  gap: 2rem;
}

.groups-wrapper > * {
  flex: 1;
}

.group-container {
  min-height: 500px;
  background-color: var(--lightblue-color);
  padding-block: 1rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 2px var(--shadow-color);
}

.group-container > * {
  flex: 1;
}

.group-container > h1 {
  text-align: center;
}

.page-description {
  flex: 5;
  color: var(--ligh-dark-color);
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 500;
}

.membership-form {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.membership-form > label {
  font-size: 1.1rem;
  font-weight: 600;
}

input[name='code'] {
  height: 25px;
  border: none;
  border-radius: 5px;
  padding-inline-start: .5rem;
}

input[name='code']:focus {
  outline: none;
  border: 2px solid #1a73e8;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.join-button {
  width: 130px;
  font-size: 1.1rem;
  font-weight: 600;
  padding-inline: .5rem;
  padding-block: .5rem;
  border: none;
  border-radius: 8px;
}

.view-button {
  width: 80px;
  font-size: .9rem;
  padding-block: .2rem;
  padding-inline: .5rem;
  border: none;
  border-radius: 4px;
}

/* Posts styles */
.group-posts-container {
  padding-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.group-welcome-message {
  color: var(--light-color);
  text-align: center;
}

.no-posts {
  text-align: center;
  color: var(--light-color);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post-card {
  width: 70rem;
  background-color: var(--light-color); 
  border: none;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.post-name {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.5;
}

.content {
  font-size: 1.1rem;
}

.date {
  font-size: .8rem;
  color: #727272;
}

.isNotMember {
  display: none;
}

.isMember {
  flex: 1;
}

.join-this-group {
  display: none;
}

.isNotMember2 {
  display: block;
  color: var(--light-color);
}

.isNotMember2 > p {
  font-size: 1.5rem;
}

.isNotMember2 > p > a {
  color: #1ae1e8;
}

.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

textarea[name='post'] {
  padding-inline: .5rem;
  padding-block: .5rem;
}

.upload-button {
  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: var(--lightblue-color);
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 600;
}

.upload-button:hover {
  background-color: #03c2cc;
}

/* Footer styles */

footer {
  height: 50px;
  width: 100%;
  position: absolute;
  color: var(--light-color);
  bottom: 0;
  top: 900px;
}

footer > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}