*, *::before, *::after {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

header {
  background-color: white;
  padding-inline: 4rem;
  padding-block: 1rem;
  box-shadow: 0px 0px 2px 1px rgb(221, 221, 221);
}

nav {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}

.website-name {
  flex: 2;
}

nav > ul {
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items, .logout-button {
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  border: none;
  padding-block: .5rem;
  padding-inline: 1rem;
  border-radius: 8px;
}

.items:hover, .logout-button:hover {
  background-color: rgb(238, 237, 237);
}
.name {
  font-size: 1.2rem;
  text-align: center;
  padding-block: .5rem;
  padding-inline: 1rem;
}



main {
  padding-block: 2rem;
  padding-inline: 5rem;
}

.group-navigation-container {
  background-color: rgb(230, 243, 245);
  padding-block: .5rem;
  padding-inline: .5rem;
}

.group-navigation-container > h3 {
  padding-inline: .2rem;
  padding-block: .2rem;
}

.group-navigation {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  
  background-color: rgb(230, 243, 245);
}

.group-button {
  font-size: 1.1rem;
  padding-block: .4rem;
  padding-inline: .8rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(230, 243, 245);
  text-align: center;
  transition: transform 300ms ease-in-out;
}

.group-button:hover {
  background-color: rgb(230, 243, 245);
  transform: scale(1.05);
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  gap: 1rem;
}

.welcome-message-container > h1 {
  font-size: 2.5rem;
}




/* Footer styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}